* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D8D8D8;
}

.headerp {
    text-align: center;
    font-size: 100px;
    color: #EB869C;
    font-weight: 100;
    margin-top: 6%;
    margin-bottom: 2%;
}

.App {
    
}




